<% @title = 'Bookstore' + ' Publishers' %>
<div class="modal-dialog modal-lg">
	<div id="groups-list" class="modal-content">


		<%= render "table" %>

		
	</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
