<% @title = 'Bookstore' + ' Categories' %>
<div class="modal-dialog modal-lg">
	<div id="category-list" class="modal-content">


		<%= render "table" %>

		<script>
		$(function(){ $('.pagination a').attr('data-remote', 'true')});
		</script>
	</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
