<li><a href="#" data-toggle="modal" data-target="#loginModal">Login</a></li>
<li><a href="#" data-toggle="modal" data-target="#registerModal">Register</a></li>
<li><a><span class="glyphicon glyphicon-shopping-cart"></span></a></li>
<li>
	<a id="search-button"><span class="glyphicon glyphicon-search"></span></a>
</li>
<li id="search">
	<form class="navbar-form" role="search">
		<div class="input-group form-group">
			<input type="text" class="form-control" placeholder="Search">
			<span class="input-group-btn">
				<a id="close-search" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span></a>
			</span>
		</div>
	</form>
</li>