<div class="modal-dialog modal-lg">
	<div class="modal-content">
		<div class="modal-header">

			<h4 class="modal-title" id="myModalLabel">Shopin cart</h4>
		</div>
		<div id="shopping-cart">
			
			<%= render 'shopping_cart' %>

		</div>

	</div>
</div>